

@font-face {
    font-family: "Kaldevaderibbon";
    src: url("fonts/Kaldevaderibbon.ttf") format("truetype");
}

@font-face {
    font-family: "Kaldevaderibbon"; /* Nombre que usarás para la fuente */
    src: url("GrowWest-Regular.ttf") format("truetype"); /* Cambia la ruta si está en una carpeta diferente */
    font-weight: normal; /* O 700 si es negrita */
    font-style: normal;
}
body {
    .gradient {
        width: 100vw;
        height: 100vh;
        background: linear-gradient(334deg, #6b97f7, #7525e2, #f7137e);
        background-size: 180% 180%;
        animation: gradient-animation 6s ease infinite;
    }
    
    @keyframes gradient-animation {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    
    font-family: "Kaldevaderibbon";
    margin: 0;
    padding: 0;
    background: url('Fondocafecito.jpg');
    text-align: center;
    min-height: 100vh; /* Asegura que el body ocupe toda la altura de la ventana */
    display: flex;
    flex-direction: column;
  background-size: cover; /* Ajusta la imagen para cubrir toda la pantalla */
background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Fija la imagen al fondo */
}

header {
    background-color: transparent; /* Cambiado a transparente */
    padding: 20px;
    color: white;
}

#titulo-viaje {
    font-family: "Kaldevaderibbon"; /* Asegúrate de que el nombre coincida */
    font-size: 80px; /* Ajusta el tamaño para que destaque */
    color: #67A800; /* Cambia el color para hacerlo más elegante */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Agrega una sombra sutil */
    animation: slideInDown 1.5s ease-in-out forwards; /* Llama a la animación */
}

#titulo {
    font-family:"GrowWest-Regular"; 
    font-size: 60px; 
    color: #4A1D1D; /* Cambia a un color más oscuro para mayor contraste */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Aumenta la sombra para mayor contraste */
    animation: fadeInUp 1.5s ease-in-out forwards; /* Llama a la animación */
}

/* Botón para explorar */
#explore-button {
    display: inline-block;
    padding: 15px 30px;
    margin-top: 20px;
    background-color: #FFFFFF; /* Color marrón (café) */
    color: #000000; /* Color de texto blanco para contraste */
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;
    transition: background-color 0.3s ease; /* Agrega una transición suave */
}

#explore-button:hover {
    background-color: #EEF400; /* Color amarillo al hacer hover */
}

/* Define las animaciones */
@keyframes slideInDown {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

